<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Historial de Préstamos</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/estilos.css') }}">
</head>

<body>
<div class="navbar">

    <a href="/">Inicio</a>

    <a href="/catalogo">Catálogo</a>

    <a href="/buscar">Buscar</a>

    <a href="/prestamos">Préstamos</a>

    <a href="/devoluciones">Devoluciones</a>

    {% if session.get('rol') == 'administrador' %}
        <a href="/historial">Historial</a>
    {% endif %}

</div>

<div class="contenedor">

    <h1>Historial de Libros Prestados</h1>

    <table>

        <tr>
            <th>ID</th>
            <th>Libro Prestado</th>
            <th>Prestamista</th>
        </tr>

        {% for dato in datos %}
        <tr>
            <td>{{ dato.id_prestamo }}</td>
            <td>{{ dato.titulo_libro }}</td>
            <td>{{ dato.nombre_prestamista }}</td>
        </tr>
        {% endfor %}

    </table>

    <br><br>

    <center>
        <a href="/">⬅ Volver al Inicio</a>
    </center>

</div>

</body>
</html>