<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Administrativo - Biblio Horizonte</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
</head>
<body>


<div class="contenedor" style="max-width: 480px; margin: 60px auto;">
    <h1>Acceso Interno</h1>
    <h2 style="text-align: center; color: #4b5563;">Área de Administradores</h2>
    <br>

    <form action="/login" method="POST">
        <label for="correo">Correo Electrónico de Administrador:</label><br>
        <input type="email" id="correo" name="correo" placeholder="ejemplo@horizonte.com" required style="width: 90%;">
        
        <br><br>
        <label for="contrasena">Contraseña de Acceso:</label><br>
        <input type="password" id="contrasena" name="contrasena" placeholder="••••••••" required style="width: 90%;">
        
        <br><br><br>
        <center>
            <button type="submit" style="background-color: #2563eb; width: 60%;">Iniciar Sesión</button>
        </center>
    </form>

    {% if error %}
        <p class="mensaje" style="border-left-color: #ef4444; color: #991b1b; background-color: #fef2f2; text-align: center;">
            {{ error }}
        </p>
    {% endif %}

    <br>
    <center>
        <a href="/" style="text-decoration: none; color: #2563eb;">⬅ Cancelar y volver al menú público</a>
    </center>
</div>

</body>
</html>