<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial de Préstamos</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">

</head>

<body>

    <h1>Historial de prestamos</h1>

    <table>

        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Fecha</th>
            <th>Título del Libro</th>
        </tr>

        {% for prestamo in prestamos %}

        <tr>
            <td>{{ prestamo[0] }}</td> <!-- id_historial -->
            <td>{{ prestamo[2] }}</td> <!-- nombre_prestamista -->
            <td>{{ prestamo[3] }}</td> <!-- fecha -->
            <td>{{ prestamo[1] }}</td> <!-- titulo_libro -->
        </tr>

        {% endfor %}

    </table>

</body>
</html>